
node_modules
.env
.env.local
.next
.now
.sentryclirc
.idea
.vscode
.turbo
.vercel

tsconfig.tsbuildinfo
**/public/workbox-*
#**/public/service-worker.*
**/public/precache.*
**/public/sw.*
**/public/editor.worker.*


# Sentry Auth Token
.sentryclirc
.env*.local


.million
.vercel
.aider*
